daphne==3.0.0
celery==4.4.7
python-decouple
Django==3.1.3
channels==3.0.1
django-cors-headers
requests==2.24.0
xlrd==1.2.0
aiohttp==3.7.2
lxml==4.6.1
xlsxwriter==1.3.7
redis==3.5.3
channels-redis
elasticsearch
psycopg2-binary
djangorestframework
djangorestframework-jwt
flower==0.9.5