<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Subscriber Email</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
        body {
            font-family: sans-serif;
            margin-right: 10px;
            padding: 10px;
        }
        a {
            color: steelblue;
        }
    </style>
</head>
<body>
<p>
    Study <a href={{ena_submission_link}}>{{ study_id }}</a> has been updated in FAANG's database.
</p>

<p>
    To unsubscribe from this study, please click here: <a href={{ unsub_link }}>unsubscribe</a>
</p>
</body>
</html>



